.game-page {
    background-color: $dark-strong;
    color: $bright-txt;
    display: flex;
    flex-direction: column;
    flex: 1;
    
    .game-content-conatiner {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 90%;
        margin: 0 auto;


        @include for-wide-layout {
            width: 80%;
            max-width: 1300px;
        }
    }

    
}
