.app-header {
    position: fixed;
    top: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 60px;
    width: 100%;
    background-color: $clr4;
    color: $clr3;

    &.hide {
        display: none;
    }

    @include for-normal-layout {
        position: sticky;
        height: 70px;
    }

    .header-content {
        display: flex;
        justify-content: center;
        // justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    // LOGO
    .logo {
        color: $clr3;
        font-size: 1.8rem;
        font-family: Helvatica;

        @include for-narrow-layout {
            font-size: 2.5rem;
        }

        &.mobile {
            @include for-normal-layout {
                display: none;
            }
        }

        &.desktop {
            display: none;

            @include for-normal-layout {
                display: block;
            }
        }
    }

    .logo.active {
        color: $clr3;
    }

    .nav-container {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        padding: 0 10px;
        background-color: $clr4;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        @include for-normal-layout {
            position: static;
            height: unset;
            flex-direction: row;
            justify-content: space-between;
            padding: 0 10px;
        }
        
        &.low-nav { 
            padding: 0 rem(10px);
        }

        .primary-btn {
            margin-top: 14px;
            
            @include for-narrow-layout {
                width: 85%;
            }
            @include for-normal-layout {
                width: rem(250px);
                margin-top: 0px;
            }
        }
    }

    /* NAV LINKS */
    .nav-links {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row-reverse;
        align-items: center;
        width: 100%;

        li {
            padding: 6px 10px;
            font-weight: 400;
            &:hover {
                background-color: #33373cfa;
            }
        }


        .nav-icon { 
            font-size: rem(24px);
            
            @include for-narrow-layout { 
                font-size: rem(30px);
            }

            @include for-normal-layout { 
                font-size: rem(30px);
            }
        }

        .feed-title {
            display: none;
            @include for-normal-layout {
                display: block;
            }
        }

        .feed-icon {
            display: block;
            @include for-normal-layout {
                display: none;
            }
        }

        .user-icon-btn {
            all: unset;
            cursor: pointer;

            &:hover {
                color: rgb(231, 228, 228);
            }

            .user { 
                display: none;
                @include for-normal-layout {
                    display: block;
                }
            }

            .hamburger { 
                display: block;
                @include for-normal-layout {
                    display: none;
                }
            }
        }

        .register-link { 
            display: none;

            @include for-normal-layout { 
                display: block;
            }
        }

        @include for-normal-layout {
            position: static;
            flex-direction: row;
            justify-content: end;
            height: inherit;
            width: fit-content;
            // transform: translateX(0);
            > * {
                margin-right: 30px;
            }
            li {
                text-align: center;
                padding: 0px;
                border: none;
                &:hover {
                    background-color: inherit;
                }
            }
        }
    }

    .nav-links > * {
        color: $clr3;
        font-size: 0.9rem;
        @include for-narrow-layout {
            font-size: 1.2rem;
        }
    }

    a.active {
        color: $clr1;
    }
}

.screen{
    // display: none;
    background-color: transparent;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
