.draw-preview {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    box-shadow: -1px 1px 2px 2px #73689ca3;

    @include for-narrow-layout {
        width: 100%;
        flex-direction: row;
        margin: 0 auto;
    }

    &__title-display {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
        font-size: rem(12px);
        border-radius: 2em;
        background-color: #2124278f;
        color: whitesmoke;

        @include for-narrow-layout {
            padding: 8px 12px;
            font-size: rem(14px);
        }

        @include for-normal-layout {}

        @include for-wide-layout {}
    }

    &__close-btn {
        position: absolute;
        left: 0%;
        bottom: 0%;
        background-color: #2124278f;
        color: whitesmoke;
        border-radius: 50%;
        z-index: 5;
    }

    &__first-draw {
        width: 100%;
        margin: 0 auto;
        border-bottom: 0.5px solid #73689c15;
        position: relative;

        @include for-narrow-layout {
            border: none;
            border-right: 0.5px solid #73689c15;
        }
    }

    &__second-draw {
        width: 100%;
        margin: 0 auto;
        border-top: 0.5px solid #73689c15;
        position: relative;

        @include for-narrow-layout {
            border: none;
            border-left: 0.5px solid #73689c15;
        }
    }

    &__img {
        background-color: rgb(80, 124, 151);
        width: 100%;
        border-radius: 7px;
        @include aspect-ratio(1, 1);
    }

    &__user-bar {
        background-color: rgb(33 36 39 / 1%);
        position: absolute;
        top: 0;
        right: 0;
        width: 60px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px;

        @include for-narrow-layout {
            width: 100%;
            height: 48px;
            flex-direction: row-reverse;
            justify-content: space-between;
        }

        @include for-normal-layout {
            padding: 8px;
        }
    }

    &__like-btn {
        all: unset;
        box-sizing: border-box;
        padding: 6px;
        border-radius: 50%;
        border: none;
        font-size: rem(28px);
        cursor: pointer;
        transform: all 0.5s;
        fill: $purple-strong;

        &:hover {
            font-size: rem(32px);
        }

        @include for-narrow-layout {}
    }

    &__user-details-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include for-narrow-layout {
            flex-direction: row;
            align-items: center;
        }
    }

    &__user-avatar {
        height: rem(25px);
        width: rem(25px);
        border-radius: 50%;
        background-color: rgb(144, 63, 148);
        cursor: pointer;
        margin-bottom: rem(6px);

        @include for-narrow-layout {
            margin-right: 10px;
            margin-bottom: 0;
        }
    }

    &__user-desc {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include for-narrow-layout {
            height: 100%;
            padding: 2px 0;
        }
    }

    &__user-fullname {
        display: none;

        @include for-narrow-layout {
            display: inline;
            margin: 0;
            line-height: rem(12px);
            font-size: rem(12px);
            padding: 1px 0;
        }

        @include for-normal-layout {
            line-height: rem(14px);
            font-size: rem(14px);
            padding: 1.5px 0;
        }
    }

    &__likes-amount {
        text-align: center;
        font-size: rem(10px);
        line-height: rem(10px);

        @include for-narrow-layout {
            padding: 1px 0;
        }

        @include for-normal-layout {
            font-size: rem(12px);
            line-height: rem(12px);
            padding: 1.5px 0;
        }
    }
}