.game-header {
    // background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    padding: rem(12px) 0;

    // @include for-normal-layout {
    //     margin: 0 auto;
    //     width: 90%;
    //     padding: rem(12px) 0;
    // }

    .icon {
        @include game-header-font-size;
    }

    .connection-indication {
        height: fit-content;
        @include game-header-font-size;
    }

    .logo {
        font-size: rem(20px);

        @include for-narrow-layout {
            font-size: rem(22px);
        }

        @include for-normal-layout {
            font-size: rem(24px);
        }

        @include for-wide-layout {
            font-size: rem(27px);
        }
    }

    .cancel-back-btn {
        all: unset;
        cursor: pointer;
        height: fit-content;
        @include game-header-font-size;
    }
}
