.timer { 
    display: flex;
    align-items: center;
    position: relative;
    color: whitesmoke;
    background-color: $purple-strong;
    padding: 8px 12px;
    width: fit-content;
    border-radius: 15px;

    .bell {
        position: absolute;
        width: 4px;
        height: 20px;
        border-radius: 2em;
        background-color: $purple-strong;
        top: -15px;
    }

    .left-bell { 
        left: 40%;
        transform: rotate(330deg);
    }
    
    .right-bell {
        left: 60%;
        transform: rotate(30deg);
    }

    &__seconds { 

        &--times-up { 
            color: white(91, 28, 28);
        }
    }
}