.timer { 
    display: flex;
    align-items: center;
    background-color: $purple-strong;
    color: whitesmoke;
    padding: 8px 12px;
    border-radius: 10px;

    // &__minutes { 

    // }

    &__seconds { 

        &--times-up { 
            color: white(91, 28, 28);
        }
    }
}