button {
    cursor: pointer;
}
// btns
.primary-btn {
    text-align: center;
    width: 100%;
    padding: 14px;
    background-color: $main-purple;
    color: $medium-gray;
    border-radius: 8px;
    border: none;

    &:hover {
        color: $white;
        background-color: $light-purple;
    }
}

.secondary-btn-dark {
    text-align: center;
    padding: 14px;
    letter-spacing: -0.03em;
    color: #f8fafd;
    background-color: $dark-strong;
    border-radius: 8px;
    border: 2px solid #f8fafd;
    transition: border-color 0.1s ease-out, background-color 0.1s ease-out, color 0.1s ease-out;

    &:hover {
        color: $dark-strong;
        background-color: #f8fafd;
        border-color: #f8fafd;
    }
}

.secondary-btn-light {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    padding: 12px;
    background-color: white;
    border: 1px solid #e9e9e9;

    &:hover { 
        border-color: rgb(79,68,224), 0.12;
        color: $purple-strong;
        background-color: $bright-gray;
    }
}
