/* Media queries Breakpoint mixins */

// 370px - 530px
// Max width
@mixin for-mobile-layout {
    @media (max-width: $padded-break-narrow) {
        @content;
    }
}

// Tablet - M
// 530px
@mixin for-narrow-layout {
    @media (min-width: $padded-break-narrow) {
        @content;
    }
}

// Tablet - L
// 760px
@mixin for-normal-layout {
    @media (min-width: $padded-break-normal) {
        @content;
    }
}

// Desktop
// 1000px
@mixin for-wide-layout {
    @media (min-width: $padded-break-wide) {
        @content;
    }
}

@mixin layoutGTC($max) {
    grid-template-columns:
        minmax($layoutPadding, 1fr)
        minmax(auto, $max)
        minmax($layoutPadding, 1fr);
}

// Sizes
@mixin aspect-ratio($width, $height) {
    position: relative;
    overflow: hidden;
    &::before {
        display: block;
        content: "";
        width: 100%;
        padding-top: calc(($height / $width) * 100%);
    }
    > * {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    > img {
        height: 100%;
        object-fit: cover;
    }
}

@mixin font-size($mobile, $narrow, $medium, $wide) {
    font-size: rem($mobile);
    line-height: rem($mobile);

    @include for-narrow-layout {
        font-size: rem($narrow);
        line-height: rem($narrow);
    }
    
    @include for-normal-layout {
        font-size: rem($medium);
        line-height: rem($medium);
    }
    
    @include for-wide-layout {
        font-size: rem($wide);
        line-height: rem($wide);
    }
}

// Elements
// Form
@mixin primary-search-input {
    width: 100%;
    height: 40px;
    padding: 10px 10px 10px rem(38px);
    border: 1px solid transparent;
    text-overflow: ellipsis;
    transition: border-color 150ms ease-out 0s;
    background-color: $clr10;
    border-radius: 9px;
    cursor: text;

    &:hover {
        border: 1px solid $purple-strong;
    }

    &:focus-visible {
        transition: border-color 200ms ease-in 0s;
        outline: $purple-strong;
        border: 1px solid $purple-strong;
        background-color: $clr3;
    }
}

@mixin bordered-input {
    background-color: #fafbfc;
    border: 2px solid #dfe1e6;
    border-radius: 3px;
    height: 40px;
    transition: background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
    padding: 0.5em;
    margin: 0 0 1.2em;

    &:hover {
        border: 1px solid $purple-strong;
    }

    &:focus-visible {
        transition: border-color 200ms ease-in 0s;
        outline: $purple-strong;
        border: 1px solid $purple-strong;
        background-color: $clr3;
    }
}

@mixin option-btn {
    font-size: 500;
    font-size: rem(14px);
    all: unset;
    cursor: pointer;
    padding: 0 rem(12px);
    height: rem(32px);
    border-radius: rem(6px);
    display: flex;
    align-items: center;

    &:hover {
        color: $purple-strong;
        background-color: $bright-gray;
    }
}

@mixin info-theme-box {
    border-radius: rem(6px);
    border: 1px solid $purple-strong;
    background-color: rgb(237 236 252);
    color: $purple-strong;
}

// Buttons
@mixin primary-btn() {
    background: $clr1;
    color: $clr3;
    letter-spacing: -0.03em;
    border-radius: 8px;
    border: 2px solid transparent;
    padding: 14px;
    text-align: center;

    &:hover {
        background-color: $clr6;
        border-color: $clr6;
        transition: border-color 0.1s ease-out, background-color 0.1s ease-out, color 0.1s ease-out;
    }
}

@mixin secondary-btn($color: $clr3, $hover-color: $dark-gray) {
    color: $color;
    letter-spacing: -0.03em;
    border-radius: 8px;
    padding: 0 6px;
    display: flex;
    text-align: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
        background-color: $hover-color;
        transition: background-color 0.1s ease-out, background-color 0.1s ease-out, color 0.1s ease-out;
    }
}

// Screens & Modals
@mixin screen-overlay {
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.35);
    cursor: pointer;
    transition: opacity 0.6s;
    // opacity: 1;
}

@mixin pop-up-modal {
    position: fixed;
    z-index: 15;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: rem(24px);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    color: #212427;
    background-color: white;

    & > * {
        margin-bottom: rem(12px);
    }

    @include for-narrow-layout {
        justify-content: center;
        top: 50%;
        height: fit-content;
        width: 350px;
        transform: translate(-50%, -50%);
        border-radius: 20px;
    }

    @include for-normal-layout {
        width: 400px;
    }

    @include for-wide-layout {
        width: 450px;
    }

    .close-btn {
        position: absolute;
        z-index: 20;
        top: rem(12px);
        right: rem(12px);
        padding: 5px 5px 0;
        background-color: inherit;
        border: none;
        border-radius: 6px;
        margin: 0;
        font-size: rem(18px);

        &:hover {
            background-color: $bright-gray;
        }

        .icon {
            &:hover {
                color: $purple-strong;
            }
        }
    }

    h1 {
        font-size: rem(40px);
        margin: 0;

        @include for-narrow-layout {
            font-size: rem(34px);
        }

        @include for-normal-layout {
            font-size: rem(38px);
        }

        @include for-wide-layout {
            font-size: rem(42px);
        }
    }
}

@mixin game-header-font-size {
    font-size: rem(16px);
    line-height: rem(16px);

    @include for-narrow-layout {
        font-size: rem(18px);
        line-height: rem(18px);
    }

    @include for-normal-layout {
        font-size: rem(22px);
        line-height: rem(22px);
    }

    @include for-wide-layout {
        font-size: rem(24px);
        line-height: rem(24px);
    }
}
