@font-face {
    font-family: Apercu Pro;
    src: url(../../fonts/Apercu/apercu_regular_pro.otf);
}

@font-face {
    font-family: Helvatica;
    src: url(../../fonts/Helvetica/HelveticaNeue.ttf);
}
