.user-modal {
    width: 280px;
    min-height: 225px;
    background-color: $clr4;
    color: $clr2;
    position: absolute;
    transform: translate(calc(-100% + 30px), 5px);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 12px;
    box-shadow: .25px 0px 0px 0px $clr2, 0px .25px 0px 0px $clr2,  -.25px 0px 0px 0px $clr2,  0px -.25px 0px 0px $clr2;

    .links-container {
        flex-grow: 1;
    }

    h5 {
        margin: 0;
    }

    .modal-item {
        font-size: 0.95em;
        font-weight: 500;
        display: block;
        border-radius: 5px;
        display: flex;
        align-items: center;
        padding: 5px;
        width: 100%;
        height: 33px;
        
        &:hover {
            color: $clr1;
            background-color: $clr7;
        }
    }

    .logout {
        padding-top: 12px;
        font-weight: 100;
        position: relative;
        
        &::before{
            content: "";
            box-shadow: 0px -.25px 0px 0px $clr2;
            width: 100%;
            height: 10px;
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    .close-btn {
        position: absolute;
        top: 5px;
        right: 5px;
        border: none;
        font-size: 0.7em;
        font-weight: 700;

        &:hover {
            opacity: 0.8;
        }
    }
}