.user-modal {
    width: 280px;
    min-height: 130px;
    background-color: $clr4;
    color: $bright-txt;
    position: absolute;
    transform: translate(calc(-100% + 30px), 5px);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 12px;
    box-shadow: -1px 1px 7px -1px #0000001f;
    box-shadow: 1px 0px 0px 0px rgb(236 124 124), 0px 1px 0px 0px rgb(236 124 124),  -1px 0px 0px 0px rgb(236 124 124),  0px -1px 0px 0px rgb(236 124 124);

    .links-container {
        flex-grow: 1;
    }

    h5 {
        margin: 0;
    }

    .profile {
        font-size: 0.95em;
        font-weight: 500;

        &:hover {
            color: $clr1;
        }
    }

    .logout {
        opacity: 0.9;
        border-top: 1px solid $bright-txt;
        padding-top: 12px;
        font-weight: 100;

        &:hover {
            opacity: unset;
        }
    }

    .close-btn {
        position: absolute;
        top: 5px;
        right: 5px;
        border: none;
        font-size: 0.7em;
        font-weight: 700;

        &:hover {
            opacity: 0.8;
        }
    }
}