.user-modal {

    background-color: $clr4;
    color: $bright-txt;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    box-shadow: .3px 0px 0px 0px $bright-txt, 0px .3px 0px 0px $bright-txt, -.3px 0px 0px 0px $bright-txt, 0px -.3px 0px 0px $bright-txt;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90vh;


    .links-container {
        flex-grow: 1;
    }

    h5 {
        margin: 0;
    }

    .modal-item {
        display: flex;
        align-items: center;
        padding: 0 10px;
        width: calc(100% - 20px);
        height: 33px;
        font-size: 0.95em;
        font-weight: 500;
        border-radius: 5px;
        letter-spacing: .2px;

        &:hover {
            color: $clr1;
            background-color: $dark-grey;
        }
    }

    .logout {
        margin-top: 10px;
        font-weight: 100;
        position: relative;

        &::before {
            content: "";
            box-shadow: 0px -.25px 0px 0px $bright-txt;
            width: 100%;
            height: 10px;
            position: absolute;
            left: 0;
            top: -10px;
        }
    }

    @include for-narrow-layout {}

    @include for-normal-layout {}

    @include for-wide-layout {
        width: 233px;
        height: 225px;
        bottom: unset;
        left: unset;
        right: unset;
        transform: translate(calc(-100% + 30px), 5px);
        border-radius: 8px;

        .modal-item {
            width: 100%;
        }
    }
}