.profile-page-container{
    background-color: $clr5;
    grid-template-columns: 30% 70%;
    padding: 30px;
    
    .info-container{
        grid-column-start: 1;
        color: $clr2;
    }
    
    .main-profile-container{
        padding: 0 42px;
    }

    .achievements{
        color: $clr2;
    }

    .avatar-container{
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
        
        img {
            width: 50%;
            border-radius: 50%;
        }
    }

}
