.profile-page-container {
    background-color: $clr5;
    // grid-template-columns: 25% 75%;
    padding: 30px;

    .info-container {
        grid-column-start: 1;
        color: $clr2;

        .avatar-container {
            display: flex;
            justify-content: center;
            margin-bottom: 25px;

            img {
                width: 50%;
                border-radius: 50%;
            }
        }
    }

    .main-profile-container {
        padding: 0 42px;
        gap: 1rem;

        .achievements {
            color: $clr2;
        }

        .profile-btn {
            width: 47%;
            max-width: 240px;
            margin: auto;
            font-size: 1.05em;
        }
    }

    @include for-narrow-layout {

    }

    @include for-normal-layout {
        grid-template-columns: 25% 75%;
    }

}