.profile-page-container {
    background-color: $dark-strong;

    .info-container {
        color: $bright-txt;
        font-size: 0.9em;
        margin-bottom: 1rem;
        
        .avatar-container {
            margin-bottom: 25px;
            gap: 5px;
            
            img {
                width: 50%;
                min-width: 150px;
                max-width: 250px;
                border-radius: 50%;
                aspect-ratio: 1/1;
                object-fit: cover;
            }
        }

        @include for-normal-layout {
            font-size: unset;
            margin-bottom: unset;
        }

    }

    .main-profile-container {
        padding: 0 42px;
        gap: 1rem;
        font-size: 0.9em;

        .achievements {
            color: $bright-txt;

            .score{
                color: $clr1;
                white-space:pre
            }
        }

        .profile-btn {
            width: 47%;
            max-width: 240px;
            margin: auto;
            font-size: 1.05em;
        }

        @include for-normal-layout {
            font-size: unset;
        }
    }

    @include for-normal-layout {
        grid-template-columns: 25% 75%;
        padding: 30px;
    }

}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    @include secondary-btn();
}