.profile-page-container{
    grid-template-columns: 30% 70%;
    padding: 30px;

    .info-container{
        grid-column-start: 1;
    }
    
    .main-profile-container{
        padding: 10px;
    }
}
