/* Media queries Breakpoint mixins */

// 370px - 530px
// Max width
@mixin for-mobile-layout {
    @media (max-width: $padded-break-narrow) {
        @content;
    }
}

// Tablet - M
// 530px
@mixin for-narrow-layout {
    @media (min-width: $padded-break-narrow) {
        @content;
    }
}

// Tablet - L
// 760px
@mixin for-normal-layout {
    @media (min-width: $padded-break-normal) {
        @content;
    }
}

// Desktop
// 1000px
@mixin for-wide-layout {
    @media (min-width: $padded-break-wide) {
        @content;
    }
}

@mixin layoutGTC($max) {
    grid-template-columns:
        minmax($layoutPadding, 1fr)
        minmax(auto, $max)
        minmax($layoutPadding, 1fr);
}

// Sizes
@mixin aspect-ratio($width, $height) {
    position: relative;
    overflow: hidden;
    &::before {
      display: block;
      content: "";
      width: 100%;
      padding-top: calc(($height / $width) * 100%);
    }
    > * {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  
    > img {
      height: 100%;
      object-fit: cover;
    }
  }
  

// Elements
// Form
@mixin primary-search-input {
    width: 100%;
    height: 40px;
    padding: 10px 10px 10px rem(38px);
    border: 1px solid transparent;
    text-overflow: ellipsis;
    transition: border-color 150ms ease-out 0s;
    background-color: $clr10;
    border-radius: 9px;
    cursor: text;
    
    &:hover { 
        border: 1px solid $purple-strong;
    }
    
    &:focus-visible{ 
        transition: border-color 200ms ease-in 0s;
        outline: $purple-strong;
        border: 1px solid $purple-strong;
        background-color: $clr3;
    }
}

@mixin bordered-input { 
    background-color: #fafbfc;
    border: 2px solid #dfe1e6;
    border-radius: 3px;
    height: 40px;
    transition: background-color .2s ease-in-out 0s,border-color .2s ease-in-out 0s;
    padding: 0.5em;
    margin: 0 0 1.2em;

    &:hover { 
        border: 1px solid $purple-strong;
    }
    
    &:focus-visible{ 
        transition: border-color 200ms ease-in 0s;
        outline: $purple-strong;
        border: 1px solid $purple-strong;
        background-color: $clr3;
    }
}

@mixin option-btn {
    font-size: 500;
    font-size: rem(14px);
    all: unset;
    cursor: pointer;
    padding: 0 rem(12px);
    height: rem(32px);
    border-radius: rem(6px);
    display: flex;
    align-items: center;

    &:hover {
        color: $purple-strong;
        background-color: $clr9;
    }
}

// Buttons
@mixin primary-btn() {
    background: $clr1;
    color: $clr3;
    letter-spacing: -0.03em;
    border-radius: 8px;
    border: 2px solid transparent;
    padding: 14px;
    text-align: center;

    &:hover {
        background-color: $clr6;
        border-color: $clr6;
        transition: border-color 0.1s ease-out, background-color 0.1s ease-out, color 0.1s ease-out;
    }
}

@mixin secondary-btn($color: $clr3) {
    color: $color;
    letter-spacing: -0.03em;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 7px;
    text-align: center;

    &:hover {
        background-color: $clr6;
        border-color: $clr6;
        transition: border-color 0.1s ease-out, background-color 0.1s ease-out, color 0.1s ease-out;
    }
}
